body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #45517d;
}
table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}
header {
    background-color: #45517d;
    color: white;
    text-align: right;
    padding: 1%;
    font-size: 120%;
    font-weight: bold;
    height: 60px;

}
.wykaz, .dane {
    padding: 20px;
}
.wykaz {
    background-color: #7298cf;
    width: 30%;
    color: black;
    vertical-align: top;
}
.dane {
    background-color: #8dc1ef;
    color: black;
    width: 70%;
    vertical-align: top;
}
.stopka {
    background-color: #45517d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
}
.stopka-link {
    color: orange;
    text-decoration: none;
}
.stopka-link:hover {
    text-decoration: underline;
}
.auto {
    width: 60px;
    height: auto;
}
h2, h3 {
    margin-top: 0;
}