:root {
    --baner-color: #4A6572;
    --panel-lewy-color: #88B04B;
    --panel-prawy-color: #F0F8EA;
    --stopka-color: #4A6572;
    --hover-color: #00A896;
}

.baner {
    background-color: var(--baner-color);
    height: 50px;
    width: 100%;
    text-align: center;
}

.plewy {
    background-color: var(--panel-lewy-color);
    height: 600px;
    width: 25%;
    float: left;
}

.pprawy {
    background-color: var(--panel-prawy-color);
    height: 600px;
    width: 75%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopka {
    background-color: var(--stopka-color);
    text-align: right;

}

.tabela {
    margin: 30px;
    border: 1px solid;
    width: 80%;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid;
}

th {
    background-color: var(--panel-lewy-color);
}

tr:hover{
    background-color: var(--hover-color);
    color: white;
}
