:root {
  --baner-color: #829eb9;
}
:root {
  --lewy-color: #b3c6d9;
}
:root {
  --prawy-color: #e0e9f1;
}
:root {
  --stopka-color: #829eb9;
}

.baner {
  background-color: var(--baner-color);
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.plewy {
  background-color: var(--lewy-color);
  height: 600px;
  width: 25%;
  float: left;
}

.pprawy {
  background-color: var(--prawy-color);
  height: 600px;
  width: 75%;
  text-align: center;
  float: left;
}

.stopka {
  background-color: var(--stopka-color);
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
}

.obraz {
  margin: 30px;
  padding: 10px;
  outline: 2px #b3c6d9;
}

table {
    margin: 30px;
    border: 2px solid;
    width: 70%;
}

td,
tr {
  margin: 30px;
  width: 70%;
  border: 2px solid rgb(0, 0, 0);
}

tr :hover {
    background-color: blue;
    color: white;
    transition: color 2s background-color 2s ;
}

th {
    background-color: #B3C6D9;
    border: 2px solid;
}
