* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.naglowek,
.stopka {
    background-color: maroon;
    color: white;
    padding: 10px;   
}

.lewy,
.prawy {
    width: 50%;
    height: 500px;
    float: left;
}

.lewy {
    background-color: lightsalmon;
}

.prawy {
    background-color: darksalmon;
}

h1,
h2,
h3 {
    text-align: center;
}

table,
tr {
    border: 1px solid black;
}

table {
    width: 85%;
    margin: auto;
}

button {
    background-color: maroon;
    color: white;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
}

button:hover {
    transition: 2s;
    background-color: white;
    color: maroon;
}